<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanson.soo.admin.dao.ProductImageDao">
    <select id="listImageUrlByProductId" parameterType="string" resultType="string" >
        select image_url from soo_product_image
        <where>
            product_id = #{productId}
        </where>
    </select>
    <select id="listImageUrlByProductIdAndStatus" resultType="string" >
        select image_url from soo_product_image
        <where>
            product_id = #{productId} and status = #{status}
        </where>
    </select>
</mapper>